/* This file containes all those media queries required to create this webpage */

/* 
320px or 480px (for mobile phones),
 768px (for tablets), and 
 1920px (for desktop computers)

 */


/* Media Queries */

@media screen and (max-width: 1100px) {

  /* #navbar .container  {
      grid-template: 100% / 45% 55%;
    }  */

  #landingSection .container {
    grid-template: 100% / 60% 40%;

  }

  #ownerImageWrapper {
    max-width: 350px;
    max-height: 350px;

  }

  #upperEclipse {
    top: -40px;
    left: -10px;
  }


  #textWrapper {
    /* transform: scale(0.9); */
    line-height: 1.3;
  }


  #connectionsWrapper {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: -30px 0 0 0;
    gap: 10px;
    flex-direction: column;
  }

  #landingSection .container>div:first-child {
    gap: 20px;
  }

}

@media screen and (max-width: 940px) {


  #ownerImageWrapper {
    transform: scale(0.9);
  }

  #getInTouchBtn {
    margin-top: 1.7em;

  }


  #landingSection {
    height: 500px;
  }

  #landingSection .container {
    grid-template-columns: 50% 50%;
  }

  #landingSection .container>div:first-child {
    padding: 0 0 0 40px;

  }

  /* #landingSection .container > div:last-child{
      align-items: flex-start;
      
    } */

  #textContainer {
    width: 100%;
    height: 100%;
  }


  #textWrapper {
    line-height: 1.4;
    font-size: .7em;
  }

  /* #navbar {
    z-index: 50 !important;
  } */

  .hamburger {
    display: flex;
    transform: scale(.9);
  }
  #navbar {
    z-index: 500 !important;
  }

  #navbar .container>div:last-child>ul {

    position: absolute;
    top: 50px !important;
    right: 0px;
    height: 15em;
    /* transition:.3s; */
    width: 100%;
    height: auto;
    display: block;
    background-color: var(--page-dark-background-color);

  }

  #navbar .container>div:last-child>ul>li {
    width: 100%;
    height: auto;
    display: auto;
  }

  #navbar .container>div:last-child>ul>li>a {
    color: var(--text-dark-color) !important;
    width: 100%;
    display: block;
    width: 100%;
    margin: 0;
    border-radius: 0;
    text-align: center;
    padding: 1.2em 0;
    text-transform: uppercase;
  }

  #navbar .container>div:last-child>ul>li>a:hover {
    background-color: var(--nav-menu-hover-dark-background);

  }




  #navbar .container>div:last-child>ul {
    justify-content: flex-end;
  }

  #navbar .container div:last-child {
    display: flex;
    justify-content: flex-end !important;
    align-items: center;
  }

  /* Skill Section */

  #skillsSection .container {
    grid-template: 50% 50% /100%;
  }


  #skillsSection img {
    min-width: 250px;
  }

  #serviceWrapper {
    gap: 3em;

  }


  #serviceSection .container {
    padding: 0 3em;
  }


  #reviewsContainer {
    gap: 2em;
    margin-top: 1em;

  }

  .reviewCard {
    font-size: .9em;
    min-width: 350px;
    max-width: 350px;
  }

}








@media screen and (max-width: 870px) {
  .container {
    padding: 0 2rem;
  }

  #clientAndExperienceContainer {
    font-size: .8em;
  }

  #aboutSectionDesignImg {
    display: none;
  }

  #socialMediaRedirections {
    margin-top: 10px;
  }

  #textWrapper {
    line-height: 1.4;
    font-size: .6em;
  }

  .sectionTitlebar {
    font-size: 1.6em;
  }

  #projectSection .container {
    gap: 3em;
  }

  #reviewsContainer {
    gap: 1em;
    margin-top: 1em;

  }

  .reviewCard {
    font-size: .8em;
    min-width: 300px;
    max-width: 300px;
    height: 220px;
  }


}













@media screen and (max-width: 690px) {

  .container {
    padding: 0 1em;
  }

  /* #landingSection .container > div:last-child {
      justify-content: flex-start;
  
    } */


  #getInTouchBtn {
    margin-top: .1em;
    font-size: .7em;
  }


  #ownerImageWrapper {
    transform: scale(.75);
    margin-top: -32.5px;

  }

  #downloadResumeBtn {
    margin-top: 20px;
  }

  #connectionsWrapper {
    justify-content: flex-start;
    margin-top: 5px;
    position: relative;
  }

  #socialMediaRedirections {
    min-height: 190px;
    position: absolute;
    flex-direction: column;
    left: -40px;
    top: -220px;
    justify-content: space-around;
  }

  #socialMediaRedirections>a {
    font-size: 1.5em;
  }


  #landingSection {
    height: 450px
  }


  #textWrapper {
    line-height: 1.5;

    font-size: .5em;
  }

  #downloadResumeBtn {
    margin-top: 20px;
  }

  #aboutSection .container {
    grid-template: 50% 50% / 100%;
  }



  #projectSection .container {
    /* padding: 0 !important; */
    padding-bottom: 50px;
    gap: 2em;
    overflow: hidden;
    /* margin: 100px 0; */
  }

  .imageCard {
    min-width: 150px !important;
    min-height: 220px !important;
    max-width: 350px !important;
    max-height: 300px !important;

  }



  .cardContent {
    font-size: 1em;
    padding: 0.3em .5em;
  }

  #viewMoreProjectsWrapper {
    display: flex;
    top: 40em;

  }

  #serviceWrapper {
    gap: 2em;
  }

  #serviceSection .container {
    padding: 0 1rem;
  }

  .serviceCard {
    min-width: 300px;
    height: 200px;
  }


}













@media screen and (max-width: 630px) {

  #navbar {
    position: fixed;
    top: 0;
    left: 0;
  }

  #landingSection {
    margin-top: 50px;
  }

  .imageCard {
    min-width: 300px !important;
    min-height: 220px !important;
    max-width: 150px !important;
    max-height: 350px !important;
    /* /* transform: scale(1.07) */
  }

  #getInTouchBtn {
    font-size: .9em;
  }

  #landingSection .container>div:first-child {
    padding: 0;
  }

  #landingSection {
    height: 600px;
  }

  #landingSection .container {
    grid-template: 40% 60% / 100%;

  }

  #textWrapper {
    line-height: 1.5;
    font-size: .8em;

  }

  /* #socialMediaRedirections {
      left: 40px;
      transform: scale(1);
      z-index: 10;
    } */

  #socialMediaRedirections {
    position: absolute;
    top: 100px;
    left: 25px;
    margin-top: -30px;

  }



  #connectionsWrapper,
  #textContainer {
    align-items: center;
    position: static;
  }

  #landingSection .container>div:last-child {
    grid-row: 1;

  }

  #downloadResumeBtn {
    display: none;
  }

  #ownerImageWrapper {
    transform: scale(.6);

  }


  #textWrapper {
    font-size: 0.7em;
  }
}










@media screen and (max-width: 480px) {
  #contactDescription {
    font-size: .9em;
  }

  #formContainer form {
    min-width: 300px;
    max-width: 460px
  }

  .skills {
    font-size: .8em;
  }

  .hamburger {
    max-width: 25px;
    /* max-height: 25px; */
  }

  #navbar .container>div:first-child {
    font-size: 1.2em;
  }

  #landingSection {
    height: 650px;
  }

  #clientAndExperienceContainer {
    font-size: .7em;
  }

  #aboutSection .container {
    gap: 5em;
  }

  #aboutText {
    font-size: 1.3em;
  }

  #ownerImageWrapper {
    transform: scale(0.59);
  }

  .container {
    padding: 0 2em;
  }

  .sectionTitlebar {
    margin: 0 1em;
    height: 40px;
  }

  #navbar .container div:first-child>h2 {
    font-size: 1.2em;
  }


  /* #socialMediaRedirections {
      left: 25px;
      margin-top: -30px;
      
      min-height: 190px;
  
    } */

  #socialMediaRedirections>a {
    font-size: 1.5em;
  }

  #textWrapper {
    font-size: .6em;
  }

  #landingSection .container>div:first-child {
    grid-template: 50% 50% / 100%;
    margin-top: 20px;

  }

}


@media screen and (max-width: 350px) {
  #ownerImageWrapper {
    transform: scale(.5);
    margin-top: -45px;
  }

  #formContainer form {
    min-width: 250px;

  }

  #textWrapper {
    font-size: .55em;
  }

  /* #getInTouchBtn */
}